@import '../../styles/shared.scss';

.light-bg {
  background-color: $jx-light-grey;
  width: px2rem(800);
  height: px2rem(800);
}

#canvas-content {
  width: px2rem(800) !important;
  height: px2rem(800) !important;
}

.canvas-container {
  width: 100% !important;
  height: 100% !important;
}

.successDialog {
  position: absolute;
  padding: 20px;
  background-color: black;
  color: aquamarine;
  // display: none;
}